logs/
jsonData/
npm-debug.log
yarn-error.log
.pnpm-store
node_modules/
package-lock.json
yarn.lock
coverage/
.idea/
run/
.DS_Store
*.sw*
*.un~
typings/
.nyc_output/
app/public/upload/
.env
config/config.json
dist/
.history/
.test/
